<div id=programs-hero>
<div class="container body-container dark">


<div class=programs-hero-caption>
<div class=container>

<h1 class=hero>Programs that patients love.</h1>
<p><strong>Tomasa, a mother of two, is using caremessage to take control of her health.</strong><br/>caremessage uses clinical evidence, human-centered design thinking, and persuasive technology to empower people like Tomasa to live a healthier life.</p>
</div>
</div> <!-- .programs-hero-caption-->

</div>
</div> <!--.programs-hero-->

<div id=programs-1>
<div class="container light">

<div class="row extra-space">
	<div class="col-xs-6">
	<h3 class=hero>Human Centered Design</h2>
	<p class=other-features-caption>We design our interactions to appeal to the unique circumstances and preferences of our users, mirroring the experience of a live health coaching session.</p>
	</div>
	
	<div class="col-xs-6">
	<h3 class=hero>Purposeful Engagement</h2>
	<p class=other-features-caption> Every single message has a unique purpose — whether to impart knowledge, incite a behavior, or record a piece of self-reported data.</p>
	</div>
	
</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-6">
	<h3 class=hero>Focus on 'Extreme Users'</h2>
	<p class=other-features-caption>Custom-tailored for patients with co-morbidities, and those with unique clinical traits, cultural preferences, and literacy barriers.</p>
	</div>
	
	<div class="col-xs-6">
	<h3 class=hero>Persuasive Technology</h2>
	<p class=other-features-caption>We optimize for variables like frequency, timing, complexity and tonality of user interactions to continuously improve engagement.</p>
	</div>
	
</div> <!--.row-->


<div class="row extra-space">
	<div class="col-xs-6">
	<h3 class=hero>Clinical Expertise</h2>
	<p class=other-features-caption>We use motivational interviewing and values-based affirmation which are clinically proven approaches to behavior change.</p>
	</div>
	
	<div class="col-xs-6">
	<h3 class=hero>Caregiver Support</h2>
	<p class=other-features-caption>Realizing the growing importance of caregiver support, we help them stay updated on their loved one's progress and improve their own effectiveness.</p>
	</div>
	
</div> <!--.row-->

<hr/>

	<%= image_tag("design-process.png", class: "hero-above") %>
	<h1 class=hero>Our Design Process</h1>
	<p class=hero-sub-3>We believe that addressing healthcare is a multi-stage problem solving process that needs to put the <i>user</i> at the center of our thinking. Before we can make an impact, we need to understand.</p>
	
		<div class=product-tabs>
	
	<ul class="nav nav-pills">
	  <li class=active><a href="#phase-1" data-toggle="tab">Phase I</a></li>
	  <li><a href="#phase-2" data-toggle="tab">Phase II</a></li>
	  <li><a href="#phase-3" data-toggle="tab">Phase III</a></li>
	</ul>
	
	<div class="tab-content extra-space">
	  <div class="tab-pane fade in active" id="phase-1">
		<div class=row>
		<div class="col-xs-4 design-process">
		<h3 class=hero><span class="glyphicon glyphicon-comment"></span>Interview</h3>
		<p>We gain an understanding of our users through in-depth interviews with all stakeholders, including patients, physicians, health educators, care coordinators etc.</p>
		</div>
		
		<div class="col-xs-4 design-process">
		<h3 class=hero><span class="glyphicon glyphicon-eye-open"></span>Observe</h3>
		<p>We observe, document and evaluate patient visits, group meetings, diabetes classes, one-on-one health education appointments etc.</p>
		</div>
		
		<div class="col-xs-4 design-process">
		<h3 class=hero><span class="glyphicon glyphicon-ok-circle"></span>Validate</h3>
		<p>We complement our findings with clinically-proven interventions and techniques, such as motivational interviewing and values based affirmation.</p>
		</div>
		
		</div><!--.row -->	
		
	  </div>
	  <div class="tab-pane fade" id="phase-2">
		
		<div class=row>
		<div class="col-xs-4 design-process">
		<h3 class=hero><span class="glyphicon glyphicon-edit"></span>Create</h3>
		<p>We take the immense quantity of data generated in Phase I to outline specific programs. These are structured as either short 4-6 week modules, or longer 3-12 month programs.</p>
		</div>
		
		<div class="col-xs-4 design-process">
		<h3 class=hero><span class="glyphicon glyphicon-stats"></span>Analyze</h3>
		<p>We also decide which metrics and overall trends — such as blood glucose, weight, medication adherence — are important to track for each program.</p>
		</div>
		
		<div class="col-xs-4 design-process">
		<h3 class=hero><span class="glyphicon glyphicon-saved"></span>Review</h3>
		<p>All of our modules and programs undergo a thorough review by our medical staff and members of our Clinical Review Board. In addition, we ensure a fourth grade reading level as measured by industry-standard Flesch-Kincaid scores.</p>
		</div>
		
		</div><!--.row -->	

	  </div>
	  <div class="tab-pane fade" id="phase-3">
		 		<div class=row>
		<div class="col-xs-3 design-process">
		</div>
		
		<div class="col-xs-6 design-process">
		<h3 class=hero><span class="glyphicon glyphicon-refresh"></span>Iterate</h3>
		<p>Using our built-in analytics engine, we then test our programs with with a group of patients to optimize for many factors, including timing, tonality, frequency and complexity. All programs are approved by our partner organizations prior to launch.</p>
		</div>
		
		
		</div><!--.row -->	
	  </div>

	  </div>
	</div><!-- .product-tabs -->



</div> <!--.container -->

</div> <!--.programs-1-->

<div class="call-to-action-footer">
<div class=container>
<div class="call-to-action-caption">Supercharge your patient engagement.</div>
<div class="call-to-action-button"><a class="call-to-action contact">Request a Demo</a></div>
</div>
</div>